In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Read file CSV 
file_path = 'C:/Users/Admin/Desktop/fraud_detection_project/data/raw/credit_card_transactions.csv'
df = pd.read_csv(file_path)

In [3]:
# Overview of data
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

In [4]:
# Check NA value
df.isna().sum()

Unnamed: 0                    0
trans_date_trans_time         0
cc_num                        0
merchant                      0
category                      0
amt                           0
first                         0
last                          0
gender                        0
street                        0
city                          0
state                         0
zip                           0
lat                           0
long                          0
city_pop                      0
job                           0
dob                           0
trans_num                     0
unix_time                     0
merch_lat                     0
merch_long                    0
is_fraud                      0
merch_zipcode            195973
dtype: int64

In [5]:
# Fill NA in merch_zipcode columns using Unknown
df['merch_zipcode'] = df['merch_zipcode'].fillna('Unknown')

In [6]:
# Check NA value again
df.isna().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
merch_zipcode            0
dtype: int64

In [7]:
# Check duplicate row
df.duplicated().sum()

np.int64(0)

In [8]:
# Changing trans_date_trans_time & dob columns to datetime type
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])
df["dob"] = pd.to_datetime(df["dob"])

In [9]:
# From dob columns, calculate age of user
df["age"] = df["trans_date_trans_time"].dt.year - df["dob"].dt.year

In [10]:
# Handle datetime features
df["trans_year"] = df["trans_date_trans_time"].dt.year
df["trans_month"] = df["trans_date_trans_time"].dt.month
df["trans_day"] = df["trans_date_trans_time"].dt.day
df["trans_hour"] = df["trans_date_trans_time"].dt.hour
df["trans_minute"] = df["trans_date_trans_time"].dt.minute
df["trans_second"] = df["trans_date_trans_time"].dt.second
df['trans_day_of_week'] = df['trans_date_trans_time'].dt.day_name()

In [11]:
# Category age_group according to age columns
age_bins = [0, 19, 29, 39, 49, 59, 69, float('inf') ]  
age_labels = ['Aged 0-19', 'Aged 19-29', 'Aged 29-39', 'Aged 39-49', 'Aged 49-59', 'Aged 59-69', "Aged 69+"]

In [12]:
# Create new columns 'age_group'
df['age_group'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=True)

In [13]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,merch_zipcode,age,trans_year,trans_month,trans_day,trans_hour,trans_minute,trans_second,trans_day_of_week,age_group
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,28705.0,31,2019,1,1,0,0,18,Tuesday,Aged 29-39
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,Unknown,41,2019,1,1,0,0,44,Tuesday,Aged 39-49
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,83236.0,57,2019,1,1,0,0,51,Tuesday,Aged 49-59
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,Unknown,52,2019,1,1,0,1,16,Tuesday,Aged 49-59
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,22844.0,33,2019,1,1,0,3,6,Tuesday,Aged 29-39

In [14]:
drop_columns = ['Unnamed: 0','trans_date_trans_time','dob','trans_num']

In [15]:
# Drop two columns "dob" and "age"
df.drop(columns=drop_columns, inplace=True)

In [16]:
# Check overview of data again
df.head()

,cc_num,merchant,category,amt,first,last,gender,street,city,state,...,merch_zipcode,age,trans_year,trans_month,trans_day,trans_hour,trans_minute,trans_second,trans_day_of_week,age_group
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,...,28705.0,31,2019,1,1,0,0,18,Tuesday,Aged 29-39
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,...,Unknown,41,2019,1,1,0,0,44,Tuesday,Aged 39-49
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,...,83236.0,57,2019,1,1,0,0,51,Tuesday,Aged 49-59
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,...,Unknown,52,2019,1,1,0,1,16,Tuesday,Aged 49-59
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,...,22844.0,33,2019,1,1,0,3,6,Tuesday,Aged 29-39

In [17]:
# Save dataset after cleaning
df.to_csv('C:/Users/Admin/Desktop/fraud_detection_project/data/processed/clean_credit_card_transactions.csv', index=False)